<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDodgogRJP31GwfajTvH6XAlOa7q_gBXZU</string>
	<key>GCM_SENDER_ID</key>
	<string>53347585017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashierApp.stage</string>
	<key>PROJECT_ID</key>
	<string>cashier-app-8bf9f</string>
	<key>STORAGE_BUCKET</key>
	<string>cashier-app-8bf9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53347585017:ios:935ad59430ef57c68e8b28</string>
</dict>
</plist>